@model Passbook.SampleWebService.Models.ConfigurationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check Configuration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
</head>
<body>
    <div class="ui container" style="padding-top: 20px;">
        <h1>Check your configuration</h1>
        <hr />
        <table class="ui celled table">
            <thead>
                <tr>
                    <th style="width: 100px;">
                        Key
                    </th>
                    <th style="width: 20px;" />
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        AppleWWDRCACertificatePath
                    </td>
                    <td style="text-align:center">
                        @if (Model.AppleWWDRCACertificatePathMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.AppleWWDRCACertificatePathMessage</td>
                </tr>
                <tr>
                    <td>
                        CertificatePassword
                    </td>
                    <td style="text-align:center">
                        @if (Model.WebServiceUrlMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.WebServiceUrlMessage</td>
                </tr>
                <tr>
                    <td>
                        CertificatePath
                    </td>
                    <td style="text-align:center">
                        @if (Model.WebServiceUrlMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.CertificatePathMessage</td>
                </tr>
                <tr>
                    <td>
                        WebServiceUrl
                    </td>
                    <td style="text-align:center">
                        @if (Model.WebServiceUrlMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.CertificatePathMessage</td>
                </tr>
                <tr>
                    <td>
                        PassTypeIdentifier
                    </td>
                    <td style="text-align:center">
                        @if (Model.PassTypeIdentifierMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.PassTypeIdentifierMessage</td>
                </tr>
                <tr>
                    <td>
                        TeamIdentifier
                    </td>
                    <td style="text-align:center">
                        @if (Model.TeamIdentifierMessage == null)
                        {
                            <i class="green thumbs up icon"></i>
                        }
                        else
                        {
                            <i class="red thumbs down icon"></i>
                        }
                    </td>
                    <td>@Model.TeamIdentifierMessage</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
</body>
</html>
